---
import Layout from "../layouts/Layout.astro";
import SubseaCanvas from "../components/canvas/SubseaCanvas";
import HUD from "../components/ui/HUD";
---

<Layout title="Abilio Assis | Subsea Journey v2">
  <main class="h-screen w-full bg-slate-950 relative">
    <HUD client:only="react" />
    {
      /* O 'client:only' é o que faz a mágica de carregar o React no navegador */
    }
    <SubseaCanvas client:only="react" />
  </main>
</Layout>

<style>
  main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
  }
</style>
